@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');

*{
	margin: 0;
	padding: 0;
	box-shadow: 0;
	font-family: 'Open Sans', sans-serif;
}

#container-login{
   height: 100vh;
   background: linear-gradient(to right bottom,rgba(223, 229, 231 ,  1),rgba(223, 229, 231 , 0.8),rgba(223, 229, 231 ,0.8));
   display: flex;
   justify-content: center;
}

#body{
    position: relative;
}

#form-login{
	display: flex;
	flex-direction: column;
	width: 270px;
   position: absolute;
	margin: auto;
	background-color: white;
	height: 320px;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	color: black;
	font-size: 15px;
	font-weight: 600;
	box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.1);
	padding: 20px;
}

#form-login h1{
   font-size: 27px !important;
   margin-top: 20px;
   margin-bottom: 20px;
}

#form-login label{
   margin-bottom: 10px;
}

input
{
    width: calc(100% - 15px);
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #47BAE0;
    font-size: 14px;
    display: block;
}

button{
	padding: 8px 60px;
	border-radius: 5px;
	border: 0;
	background-color: white;
	color: #47BAE0;
	font-weight: 800;
   border: 3px solid #58D2FA;
   box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.1);
   transition: all 0.3s;
   width: 101%;
}

button:hover {
    background-color: #58D2FA;
    border: 3px solid white;
    color: white;
}



