body{
	margin-left: 200px;
	transition: all 0.2s;
}

#saider 
{
	background-color: #1A3758;
	width: 200px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	transition: all 0.2s;
	z-index: 1;
}

#header-saider
{
	height: 40px;
  border-bottom:1px solid rgba(70, 229, 115, 0.1);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 12px;

}

#header-saider img
{
  margin-right: 13px;
}

#header-saider-avatar
{
	display: flex;
	align-items: center	;
	border-bottom:1px solid rgba(70, 229, 115, 0.1);
	color: white;
	padding-left: 7px;
	flex-direction: column;
	height: 70px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

#avatar
{
	height: 30px;
  width: 30px;
  border-radius: 50px;
  display: flex;
  border: 3px solid rgba(255, 255, 255, 0.5);
  margin-right: 5px;
}

#avatar > img
{
  object-fit: cover;
  object-position: top;
  height: 30px;
  width: 30px;
  border-radius: 50px;
}

#list-nav
{
	display: flex;
	flex-direction: column;
	width: 100%;
}


#list-nav a
{
  width: 100%;
  color: white;
  line-height: 40px;
  display: flex;
  transition: all 0.2s;
  border-left: 3px solid #3597B8;
  font-weight: 600;	
	font-size: 17px;
}

#list-nav a:hover 
{
  border-left: 3px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
}

#list-nav a img
{
  margin-right: 20px;
  margin-left: 15px;
  width: 15px !important;
}

.remove-width-body{
  margin-left: 55px !important;
}

.remove-width-side{
    width: 53px !important;
}


.without-visibility{
	visibility: hidden;
}

#title-logo{
	font-weight: 100px !important;
  padding-top: 3px;
}

#users{
	font-size: 12px;
	min-width: 100px;
}

#logo{
	font-size: 30px;
}